@import "tailwindcss";

@theme inline {
  --color-red:#E52329;
  --color-darkGray:#3C3C3B;
  --color-lightGray: ;
 
}
.PropertyBannerBg{
  background-image: url('/images/p4.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}